<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Here is my CV</title>
    <link th:href="@{style.css}" rel="stylesheet" />
</head>
<body>

    <h2 th:text="${title}"/>

    <h1>Curriculum Vitae</h1>

    <section>
        <p>Name: Anisha Inas Izdihar</p>
        <p>Birthdate: May 6th, 1999</p>
        <p>Birthplace: Blitar</p>
        <p>Address: Jln. Bambu Ori 3 No. 12</p>
    </section>

    <br>

    <section>
        <h4>Education History</h4>
        <p>SDI Nurul Iman (2004-2010)</p>
        <p>SMP Putra 1 Jakarta (2010-2013)</p>
        <p>SMAN 61 Jakarta (2013-2016)</p>
        <p>Universitas Indonesia (2016-Now)</p>
    </section>

    <p>Just a small town girl, livin' in a lonely world.
        She took the midnight train goin' anywhere</p>
</body>
</html>